/* @import './base.css'; */

#app {
  max-width: 100vw;
  max-height: 100vh;
  margin: 0 auto;
  font-weight: normal;
}

.app-container {
  max-width: 2048px;
  min-width: 1024px;
  margin-right: 5vw;
  margin-left: 5vw;
}

@media (min-width: 2048px) {
  .app-container {
    margin: auto
  }
}
